*{
    font-family: roboto;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #EEEDE7;
}
.boardRow{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.boardCell{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #b0a4c7;
    transition: 0.1s ease-out;
}
.boardCell:hover{
    background-color: #a38dcc;
}
.boardCellStart{
    background-color: #B9B7BD ;
}
.boardCellStart:hover{
    background-color: #868B8E ;
}
.boardContainer{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    font-size: 30px;
}
.gameContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gameContainer .side{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}
.gameContainer .side p{
    color: #414141;
    margin: 0px;
    font-size: 40px;
    transition: 0.1s ease-out;

}
.gameContainer .side span{
    color: #6e6e6e;
}
.playerTurn{
    color: #c25f5f !important;
}
.playerWin{
    transition: 2s  ease-in-out !important;
    color: rgb(42, 156, 42) !important;
}
.title{
    font-size: 80px;
    text-align: center;
    margin: 0px;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: center;
    align-items: center;
}
.mainContainer .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.mainContainer .info .clearBtn{
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: rgb(224, 106, 106);
    width: 100px;
    height: 22px;
    transition: 0.15s ease-out;
}
.mainContainer .info .clearBtn:hover{
    background-color: rgb(209, 86, 86);
}
.mainContainer .info span{
    color: #535151;
    font-size: 25px;
}
.boardBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boardBtn .sizeBtn{
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 25px;
    background-color: rgb(191, 209, 218);
    transition: 0.15s ease-out;
}
.boardBtn .sizeBtn:hover{
    background-color: rgb(175, 194, 204);
}
.enemySel {
    border: none;
    border-radius: 5px;
    padding: 6px 13px 6px 13px;
    transition: 0.2s ease-out;
}
.enemySel.player{
    background-color: rgb(74, 228, 113) !important;
}
.enemySel.easyai{
    background-color: rgb(77, 101, 211) !important;
}
.enemySel.hardai{
    background-color: rgb(230, 90, 90) !important;
}
.whoStartCont{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 5px;
}
.whoStartCont span{
    font-size: 11px;
}
.whoStartCont button{
    border: none;
    border-radius: 5px;
    background-color: rgb(161, 226, 205);
    font-size: 13px;
    transition: 0.15s ease-out;
}
.whoStartCont button:hover{
    background-color: rgb(139, 212, 189);
}
.gameMode{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 23px;
}